In [ ]:
import pandas as pd
import numpy as np

In [ ]:
my_data = np.array([ [1,'Kevin',20] , [2,'Sobak',18] , [3,'Alloy',3] ])

column_names = ['Regstr.' , 'Name' , 'Marks']

my_dataframe = pd.DataFrame(data = my_data , columns = column_names)

print(my_dataframe)

  Regstr.   Name Marks
0       1  Kevin    20
1       2  Sobak    18
2       3  Alloy     3

In [ ]:
my_dataframe['Grades'] = ['A' , 'B' , 'C']

print(my_dataframe)

  Regstr.   Name Marks Grades
0       1  Kevin    20      A
1       2  Sobak    18      B
2       3  Alloy     3      C

In [ ]:
#Printing anyone row
print(my_dataframe.iloc[[2]],'\n')

#Printing some rows from the top
print(my_dataframe.head(2),'\n')

#printing a particular column
print(my_dataframe['Name'],'\n')

#Printing from a certain row to another
print(my_dataframe[1:3],'\n')

  Regstr.   Name Marks Grades
2       3  Alloy     3      C

  Regstr.   Name Marks Grades
0       1  Kevin    20      A
1       2  Sobak    18      B

0    Kevin
1    Sobak
2    Alloy
Name: Name, dtype: object

  Regstr.   Name Marks Grades
1       2  Sobak    18      B
2       3  Alloy     3      C

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount= True)
data = pd.read_csv("Shark_Tank_India_S1_new.csv")

Mounted at /content/drive

In [ ]:
data

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.shape

In [ ]:
data.columns

Index(['episode_number', 'startup_number', 'brand_name', 'description',
       'deal_offered', 'startup_ask_amount_lakhs', 'startup_ask_percentage',
       'startup_ask_valuation', 'deal_amount_lakhs', 'deal_equity',
       'deal_valuation', 'loan_element_present', 'loan_amount',
       'rannvijay_present', 'abish_present', 'aman_present', 'aman_invested',
       'anupam_present', 'anupam_invested', 'ashneer_present',
       'ashneer_invested', 'ghazal_present', 'ghazal_invested',
       'namita_present', 'namita_invested', 'peyush_present',
       'peyush_invested', 'vineeta_present', 'vineeta_invested',
       'sharks_offering', 'amount_per_shark', 'equity_per_shark'],
      dtype='object')

In [ ]:
data.isnull().sum()

episode_number              0
startup_number              0
brand_name                  0
description                 0
deal_offered                0
startup_ask_amount_lakhs    0
startup_ask_percentage      0
startup_ask_valuation       0
deal_amount_lakhs           0
deal_equity                 0
deal_valuation              1
loan_element_present        0
loan_amount                 0
rannvijay_present           0
abish_present               0
aman_present                0
aman_invested               0
anupam_present              0
anupam_invested             0
ashneer_present             0
ashneer_invested            0
ghazal_present              0
ghazal_invested             0
namita_present              0
namita_invested             0
peyush_present              0
peyush_invested             0
vineeta_present             0
vineeta_invested            0
sharks_offering             0
amount_per_shark            0
equity_per_shark            0
dtype: int64

trying different functions of pandas using various dataframes for samples

In [ ]:
person = pd.DataFrame({'Name':['Asif' , 'Basit' , 'John', 'Hary'],
 'DOB': ['3/20/1960', '3/19/1981', '9/12/1999' , '7/12/1967'],
 'EmpID': ['E453', 'E983', 'E675','E120']})

In [ ]:
person['DOB']=pd.to_datetime(person['DOB'])
print(person['DOB'])

In [ ]:
from datetime import date

In [ ]:
a = pd.Timestamp(date(1980,12,20))
print(a)

Various ways to make a dataframe

In [ ]:
df2 = pd.DataFrame({ 'A' : 1.,
'B':pd.Timestamp('20130102'),
'C':pd.Series(1.5,index=list(range(4))),
'D':np.array([3] * 4),
'E':pd.Categorical(["test","train","test","train"]),
'F':'foo' })

print(df2)

In [ ]:
dates = pd.date_range("20220401", periods=4)

In [ ]:
df = pd.DataFrame(np.random.randn(4,4), index=dates, columns=list('ABCD'))
df